.heading {
    background-color: aqua;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
.font {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul{
    text-align: center;
}
.color {
    background-color: rgb(226, 43, 171);
    text-align: center;
    list-style: none;
    padding: 10px 0;
    margin: 0 auto;
}
div{
    text-align: center;
}
.f {
    background-color: rgb(168, 251, 91);
    display: inline-block;
    padding: 8px 24px;
}
.s {
    background-color: rgb(220, 23, 23);
    display: inline-block;
    padding: 8px 24px;
}
.t {
    background-color: rgb(201, 230, 15);
    display: inline-block;
    padding: 8px 24px;
}
.var{
    font-size: 22px;
}
.desc {
    background-color: brown;
    text-align: center;
    color: white;
}
.ing{
    background-color: rgb(185, 196, 34);
    text-align: center;
}
.st {
    background-color: rgb(200, 35, 200);
    color: white;
    text-align: center;
}
#bors{
    width: 600px;
    height: auto;
}
.back{
    text-align: center;
}